@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');/*footer*/ 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Slab:wght@100&display=swap');/*nav*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Slab:wght@100&family=Saira:wght@100&display=swap');

*{
    margin: 0%;/* determina la separacion entre elementos-para el margen*/
    padding: 0%; /*espacio entre elementos y bordecitos*/
    box-sizing: border-box;
}
