/*----------------MEDIA QUERIES-----------------*/

/*RESPONSIVE max-width*/



/*--------------HEADER-DE-INDEX---------------*/


@media screen and (max-width:835px){
    .index-header {
        flex-direction: column;
        padding: 0px;
        position: relative;
    }
    /*------------INDEX-MAIN----------------*/
    
    /*------------DECANO-SECTION-CON-GRID--------------*/
    .index-main{
        .decano{
            .grid-conteiner{
                padding:30px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px 200px;
                grid-template-areas: 
                "titulo-grid titulo-grid"
                "articulo-1 articulo-2"
                "articulo-3 articulo-4"
                "articulo-5 articulo-5"
                "publicidad publicidad";
            }
        }
    }
}

@media screen and (max-width:540px){

    /*------------FONDO-SECTION-----------*/
    .index-main{
        .fondo{
            div{
                h1{
                    line-height: 80px;
                    padding-top: 50px;
                }
            }
            h2{
                padding: 0px;
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width:380px){
    
    /*------------DECANO-SECTION-CON-GRID--------------*/
    .index-main{
        .decano{
            .grid-conteiner{
                .articulo-1{
                    padding-bottom: 15px;
                }
                .articulo-3{
                    padding-top: 25px;
                }
                .articulo-2{
                    padding-bottom: 15px;
                }
                .articulo-4{
                    padding-top: 25px;
                }
                .publicidad{
                    div{
                        .icon-conteiner{
                            div{
                                img{
                                    width: 70px;
                                    height: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*-----------------HEADER-DE-PAGES------------------*/




@media screen and (max-width:755px){
    header{
        nav{
            ul{
                flex-direction: column;
                text-align: center;
                align-items: center;
            }
        }
    }
}



/*-----------------MAIN-REQUISITOS------------------*/

@media screen and (max-width: 750px){

    /*--------------------REQUISITOS-Y-DOCUMENTACION-SECTION--------------------*/
    .requisitos-main{
        section{
            .documentacion{
                h3{
                    padding-left: 2px;
                }
                ol{
                    padding-left: 2px;
                }
            }
        }
    }
}

@media screen and (max-width:440px){

    /*--------------------VIDEO Y LINK PARA INSCRIPCION SECTION--------------------*/
    .requisitos-main{
        section{
            .video{
                iframe{
                    width: 230px;
                    height: 200px;
                }
            }
            .link-inscripcion{
                h4{
                    padding-left: 2px;
                }
                a{
                    margin-left: 70px;
                }
            }
        }
    }
}



/*--------------------GALERIA-HISTORIA-SECTION--------------------*/

@media screen and (max-width: 540px){

    /*--------------------GALERIA-HISTORIA-SECTION--------------------*/
    .acerca-de-nosotros-main{
        .galeria-historia{
            display: grid; 
            grid-template-columns: 1fr;
            gap: 40px;
            grid-template-areas:
            "galeria"
            "historia"
        }
    }
}



/*--------------------MAIN-CONTACTO--------------------*/


@media screen and (max-width: 930px){

    /*--------------------ENCUESTA-E-IMAGEN-SECTION--------------------*/
    .fondo-contacto{
        section{
            .encuesta-e-imagen{
                flex-direction: column;
                padding-bottom: 80px;
                .p1{
                    font-size: 30px;
                    font-weight: 600;
                    padding-top: 0px;
                }
                form{
                    padding-right: 80px;
                }
                .imagen-contacto{
                    img{
                        display: none;
                    }
                }
            }
        }
        /*--------------------IFRAME-P-SECTION--------------------*/
        section{
            .iframe-p{
                flex-direction: column;
                p{
                    font-size: 30px;
                    font-weight: 600;
                    padding-right: 80px;
                }
                iframe{
                    padding: 50px 150px 100px 150px;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 755px){

    /*--------------------ENCUESTA-E-IMAGEN-SECTION--------------------*/
    .fondo-contacto{
        section{
            .encuesta-e-imagen{
                .p1{
                    font-size: 20px;
                    font-weight: 600;
                    padding-left: 110px;
                }
            }
        }
        /*--------------------IFRAME-P-SECTION--------------------*/
        section{
            .iframe-p{
                p{
                    font-size: 15px;
                    font-weight: 600;
                }
                iframe{
                    width: 450px;
                    height: 350px;
                    padding: 0px;
                    padding-left: 130px;
                    padding-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 580px){
    
    /*--------------------ENCUESTA-E-IMAGEN-SECTION--------------------*/
    .fondo-contacto{
        section{
            .encuesta-e-imagen{
                .p1{
                    padding-left: 4px;
                }
            }
        }
        /*--------------------IFRAME-P-SECTION--------------------*/
        section{
            .iframe-p{
                iframe{
                    width: 350px;
                    height: 200px;
                    padding: 0px;
                    padding-left: 10px;
                    padding-bottom: 30px;
                }
            }
        }
    }
}